:root {
   /* Colors */
   --violet: #654bb9;
   --magenta: #d93175;

   --dark-text: #222;
   --dark-gray-text: #555;
   --ligth-gray-text: #888;

   --primary-font: 'Works Sans', sans-serif;
}

html {
   box-sizing: border-box;
}
*,
*:before,
*:after {
   box-sizing: inherit;
}

body {
   font-family: var(--primary-font);
}

ul,
ol {
   margin: 0;
   padding: 0;
   list-style: none;
}
